body {
    font-family: Calibri;
}


h1 {
  border-bottom: 1px solid #777777
}

label {
    color: #440f06;
}

input[type="submit"] {
    border: 2px solid #ff3043;
    width: 100px;
    padding: 2px;
    border-radius: 5px;
}

input[type="button"] {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid green;
    border-radius: 5px;
}

input[type="button"]:last-child {
    margin-right: 0;
}

.buttons{
    margin-top: 20px;
    text-align: center;
}

.solve, .error{
    margin-top: 5px;
    padding: 3px;

}

.solve {
    border: 1px solid black;
}

.solve p {
    font-style: italic;
}
 .error{
    border: 1px solid red;
    border-radius: 10px;
}
/*#list {*/
    /*display: none;*/
/*}*/
